*{
    margin: 0;
    padding: 0;
    font-size: 0;
}
.wrapper{
    position: relative;
    transform-style: preserve-3d;
    perspective: 800px;
    height: 200px;
    margin-top: 200px;
}
.wrapper img{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 50%;
    margin-left: -150px;
    border-radius: 10px;
    transition: transform 0.8s ease-in-out;
}