[v-cloak] {
    display: none;
}
.tabs{
    font-size: 14px;
    color: #657180;
}
.tabs-bar:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: d7dde4;
}
.tabs-tab{
    display: inline-block;
    padding: 4px 16px;
    margin-right: 6px;
    background: #fff;
    border: 1px solid #d7dde4;
    cursor: pointer;
    position: relative;
}
.tabs-bar-active{
    color: #3399FF;
    border-top: 1px solid #3399FF;
    border-bottom: 1px solid #FFF;
}
.tabs-bar-active:before{
    content: "";
    display: block;
    height: 1px;
    background: #3399FF;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.tabs_content{
    padding: 18px 0;
    color: blue;
    font-size: 25px;
}
.pane{
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}
.active{
    transform: translateX(100px);
    transition: transform 0.5s ease-in-out;    
}